body, html {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.25;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #131516;
    color: #DDA0DD;
    font-size: 18px;
    line-height: 1.25;
}

.header {
    font-size: 24px;
    width: 100%;
    color: #FF72FF;
}

h1 {
    font-size: 32px;
    margin: 0;
    padding: 24px; 0px;
}

h2 {
    font-size: 24px;
    padding: 20px 0px;
    color: purple;
    border-bottom: 2px solid darkslateblue;
    width: 400px;
}

a:link {
    color:#E6E6FA;
}
a:hover{
    color:#E6E6FA;
}

a:visited{
    color:#FF69B4;
}

li {
    padding-left: 22px;
    text-indent: -22px;
    margin-left: 22px;
    line-height: 1.5;
}

footer {
    border-top: 2px solid darkslateblue;
    padding: 10px 0px;
}
